{% extends 'base.html' %}
{% block self_head_css_js %}
    <script src="/static/layer/layer.js"></script>
    <script src="/static/js/base.js"></script>
    <script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/plugins/datatables/dataTables.bootstrap.css">
{% endblock %}

{% block content %}
<script>
    window.onload=init;
    function init() {
        var box = document.getElementById("tests");
        box.className="active";
        var box2 = document.getElementById("apply");
        box2.className="active";
    }
</script>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>
    <!-- Main content -->
    <section class="content">
        <form action="" method="post" id="apply_form">
            {% csrf_token %}
            <div class="box">
                <div class="box-header">
                    <div class="btn btn-group" style="padding-left: 0">
						 <a id="applyadd" style="display: block;" href="#" onclick="return applyAdd()"><li class="btn btn-success">申请测试</li></a>
                    </div>
                </div>
                <div class="col-md-5">
                    <label for="page_len">
                        <select name="page_len" id="page_len" class="form-control m-b input-sm" onchange="change_info()">
                            {% ifequal page_len '10' %}
                                <option value="10" selected>10</option>
                            {% else %}
                                <option value="10">10</option>
                            {% endifequal %}
                            {% ifequal page_len '20' %}
                                <option value="20" selected>20</option>
                            {% else %}
                                <option value="20">20</option>
                            {% endifequal %}
                            {% ifequal page_len '50' %}
                                <option value="50" selected>50</option>
                            {% else %}
                                <option value="50">50</option>
                            {% endifequal %}
                            {% ifequal page_len '100' %}
                                <option value="100" selected>100</option>
                            {% else %}
                                <option value="100">100</option>
                            {% endifequal %}
                            {% ifequal page_len '200' %}
                                <option value="200" selected>200</option>
                            {% else %}
                                <option value="200">200</option>
                            {% endifequal %}
                        </select>
                    </label>
                    <label>
                        <select name="apply_status" id="apply_status" class="form-control m-b input-sm" onchange="change_info()">
                            {% ifequal apply_status '0' %}
                                <option value="0" selected>未测试</option>
                            {% else %}
                                <option value="0">未测试</option>
                            {% endifequal %}
                            {% ifequal apply_status '1' %}
                                <option value="1" selected>已测试</option>
                            {% else %}
                                <option value="1">已测试</option>
                            {% endifequal %}
                            {% ifequal apply_status '-1' %}
                                <option value="-1" selected>全部</option>
                            {% else %}
                                <option value="-1">全部</option>
                            {% endifequal %}
                        </select>
                    </label>
                </div>
                <div class="box-body">
                    <table class="table table-striped table-bordered" id="applyform">
                        <thead>
                            <tr>
                                <th>
                                    <input id="checkall" type="checkbox" class="i-checks" name="checkall" value="checkall" data-editable="false" onclick="check_all('apply_form')">
                                </th>
                                <th>编号</th>
                                <th>产品线</th>
                                <th>需求创建时间</th>
                                <th>申请人</th>
                                <th>测试报告</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for apply in applys.object_list %}
                                <tr class="even gradeX">
                                    <td><input type="checkbox" id="id" class="i-checks" value="{{ apply.id }}" name="id" /></td>
                                    <td>{{ apply.id }}</td>
                                    <td><a href="#"><li style="list-style-type:none" onclick="return popWin(this.value)" value="{{ apply.id }}">{{ apply.product }}</li></a></td>
                                    <td>{{ apply.createtime|date:"Y-m-d H:i:s" }}</td>
                                    <td>{{ apply.order_user }}</td>
                                    <td><a href="{{ apply.report_address }}" target="_blank">
                                    		<span class="glyphicon glyphicon-file">{{ apply.report_file }}</span>
                                    	</a>
                                    </td>
                                    <td>
                                        {% if apply.status == False %}
                                            <span class="label label-default">未测试</span>
                                        {% else %}
                                            <span class="label label-success">已测试</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if apply.status == False %}
                                            <a id="applyfinish" style="display: block; float: left; margin: auto;" href="#" onclick="return applyFinish({{ apply.id }})" class="btn btn-sm btn-warning">完成</a>
                                            <a id="applyedit" style="display: block; float: left; margin: auto;" href="#" onclick="return applyEdit({{ apply.id }})" class="btn btn-sm btn-info">编辑</a>
                                            <a id="applydel" style="display: block; float: left; margin: auto;" href="{% url "apply_del" %}?id={{ apply.id }}&apply_status={{ apply_status }}&page_len={{ page_len }}" onclick="return checkSubmit()" class="btn btn-sm btn-danger">删除</a>
                                        {% else %}
                                        	{% if apply.feedback == 0 %}
                                            	<a id="applyagree" style="display: block; float: left; margin: auto;" href="{% url "apply_agree" %}?id={{ apply.id }}&apply_status={{ apply_status }}&page_len={{ page_len }}" class="btn btn-sm btn-info">同意上线</a>
                                            	<a id="applyreject" style="display: block; float: left; margin: auto;" href="{% url "apply_reject" %}?id={{ apply.id }}&apply_status={{ apply_status }}&page_len={{ page_len }}" class="btn btn-sm btn-danger">拒绝上线</a>
                                            {% else %}
                                            	<a id="applyagree" disabled="disabled" style="display: block; float: left; margin: auto;" class="btn btn-sm btn-default">同意上线</a>
                                            	<a id="applyreject" disabled="disabled" style="display: block; float: left; margin: auto;" class="btn btn-sm btn-default">拒绝上线</a>
											{% endif %}                                            
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="row">
                        {% include 'paginator.html' %}
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>
<input id="handle_status" value="" hidden="hidden">

<script>
    $(function () {
      $('#applyform').DataTable({
          "paging": false,
          "lengthChange": true,
          "searching": true,
          "ordering": true,
          "info": true,
          "bAutoWidth": false,
          "aoColumnDefs": [{"bSortable": false, "aTargets": [0, 5, 6, 7]}],
          "aaSorting": [[1, "desc"]]
      });
    });
</script>
<script>
    function change_info(){
        var args = $("#apply_form").serialize();
        window.location = "{% url 'apply_list' %}?" + args;
    }
</script>
<script>
    function checkSubmit() {
        if (!confirm("确定删除？")) {
            window.event.returnValue = false;
        }
    }
</script>
<script>
    function popWin(apply_id){
      layer.open({
          type: 2,
          title: '需求详情',
          area: ['700px', '500px'],
          shadeClose: true, //点击遮罩关闭
          content: ['/tests/applydetail/' + apply_id]
      });
    }
</script>
<script>
    function applyAdd(){
        layer.open({
        type: 2,
        title: '新增需求',
        closeBtn: 1,
        area: ['600px', '400px'],
        shadeClose: true, //点击遮罩关闭
        content: ['/tests/applyadd/'],
        end:function(){
                var handle_status = $("#handle_status").val();
                if ( handle_status == '1' ) {
                    layer.msg('提交成功！',{
                        icon: 1,
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    },function(){
                        history.go(0);
                    });
                } else if ( handle_status == '2' ) {
                    layer.msg('提交失败！',{
                        icon: 2,
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    },function(){
                        history.go(0);
                    });
                } else if ( handle_status == '3' ) {
                    layer.msg('该产品线还有需求还未完成或反馈！',{
                        icon: 2,
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    },function(){
                        history.go(0);
                    });
                }
            }
      });
    }
</script>
<script>
    function applyEdit(n){
        layer.open({
        type: 2,
        title: '修改需求',
        closeBtn: 1,
        area: ['600px', '400px'],
        shadeClose: true, //点击遮罩关闭
        content: ['/tests/applyedit/?id=' + n],
        end:function(){
                var handle_status = $("#handle_status").val();
                if ( handle_status == '1' ) {
                    layer.msg('更新成功！',{
                        icon: 1,
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    },function(){
                        history.go(0);
                    });
                } else if ( handle_status == '2' ) {
                    layer.msg('更新失败！',{
                        icon: 2,
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    },function(){
                        history.go(0);
                    });
                }
            }
      });
    }
</script>
<script>
    function applyFinish(n){
        layer.open({
        type: 2,
        title: '完成测试',
        closeBtn: 1,
        area: ['600px', '400px'],
        shadeClose: true, //点击遮罩关闭
        content: ['/tests/applyfinish/?id=' + n],
        end:function(){
                var handle_status = $("#handle_status").val();
                if ( handle_status == '1' ) {
                    layer.msg('提交成功！',{
                        icon: 1,
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    },function(){
                        history.go(0);
                    });
                } else if ( handle_status == '2' ) {
                    layer.msg('提交失败！',{
                        icon: 2,
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    },function(){
                        history.go(0);
                    });
                }
            }
      });
    }
</script>
{% endblock %}