<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task Log</title>
    {% include 'link_css.html' %}
    {% include 'head_script.html' %}
    <style type="text/css">
      textarea.scroll {
        resize: none;
        width: 100%;
        height: 100%;
        padding: 10px;
        display: block;
        height: calc(100vh - 50px);
        overflow-y: auto;
        font-family: Hack, Menlo, Monaco, Consolas, "Courier New", monospace;
        font-size: 12px;
        border: 1px solid #ccc;
        border-radius: 2px;
      }
    </style>
</head>
<body>
    <!-- Main content -->
    <div class="content">
      <input id="env" type="hidden" value="{{ env_id }}">
      <textarea id="output" class="scroll" readonly></textarea>
    </div>
{#回传参数至父层#}
    <script type="text/javascript">
        if (window.ws) {
            window.ws.close();
        }
        var ws = new WebSocket("ws://" + window.location.host + "/tests/envtasklog/");
        ws.onopen = function() {
            ws.send($('#env').val());
        }
        ws.onmessage = function(e) {
            $('#output').append(e.data + '\n');
            $("#output").scrollTop($("#output")[0].scrollHeight);
        }
        window.ws = ws;
    </script>
</body>
</html>
