{% extends 'base.html' %}
{% block self_head_css_js %}
    <script src="/static/layer/layer.js"></script>
    <script src="/static/js/jquery.bootstrap-duallistbox.js"></script>
    <script src="/static/js/jquery.cxcalendar.js"></script>
    <script src="/static/plugins/toastr/toastr.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-duallistbox.css">
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.cxcalendar.css">
    <link rel="stylesheet" type="text/css" href="/static/plugins/toastr/toastr.css">
    <link rel="stylesheet" type="text/css" href="/static/plugins/toastr/toastr.center.css">
{% endblock %}

{% block content %}
<script>
    toastr.options = {
        positionClass: "toast-center-center"
    }
</script>
<script>
    window.onload=init;
    function init() {
        var box = document.getElementById("orders");
        box.className="active";
        var box2 = document.getElementById("config");
        box2.className="active";
        {% if status == 4 %}
            toastr.warning("请选择部署的环境！");
        {% endif %}
    }
</script>

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
  </section>
  <!-- Main content -->
  <section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
        </div>
        <div class="box-body">
            {% if config_id %}
                <form enctype="multipart/form-data" action="{% url 'config_edit' config_id %}" method="post">
            {% else %}
                <form enctype="multipart/form-data" action="{% url 'config_add' %}" method="post">
            {% endif %}
            {% csrf_token %}
            {{ form.as_p }}
                <label>环境:</label> 
                <ul id="id_env">
                    <li><label for="id_env_0">
                        <input type="checkbox" name="checkbox_env" value="Pre" id="id_env_0" /> 预发布环境</label> </li>
                    <li><label for="id_env_1">
                        <input type="checkbox" name="checkbox_env" value="Pro" checked id="id_env_1" /> 生产环境</label></li>
                </ul>
            </p>
            <a href="{% url 'config_list' %}"><li style="width: 60pt" class="btn btn-primary" value="">返回</li></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="submit" style="width: 60pt" class="btn btn-primary" value="">提交</button>
            </form>
        </div>
        <div class="box-footer">
          <i class="fa fa-info-circle"></i> 更新时间：每周二、四（9：30-17：00） 
        </div>
    </div>
  </section>
</div>

<script>
    $('#id_operating_time').cxCalendar({
    	date: new Date().getTime()+14*24*60*60*1000,
        type: 'datetime',
        format: 'YYYY-MM-DD HH:mm:ss'
    });
</script>
{% endblock %}
